@model MedicalCertificates.Web.Models.GroupViewModels.DetailsGroupViewModel

<h3>Описание группы</h3>

<h2>@Html.DisplayFor(model => model.Name)</h2>

    <p>
        <button onclick="GetDetailsCourseRequest(@Model.Course.Id);" class="btn btn-info">К курсу</button>
    </p>
    <hr />
</div>
@if (Model.Students.Count != 0)
{
<h4>Учащиеся в этой группе</h4>
 <!--Table-->
@await Html.PartialAsync("StudentsTable", Model.Students);

}