@model MedicalCertificates.Web.Models.DepartmentViewModels.DetailsDepartmentViewModel

<h2>Описание отделения</h2>
<hr />
<div>
    <h3><strong>@Model.Name</strong></h3>
    <hr />
</div>

@if (Model.Courses != null && Model.Courses.Count != 0)
{
    <h4>Курсы на этом отделении</h4>
    <!--Table-->
    @await Html.PartialAsync("CoursesTable", Model.Courses);

}
else
{
    <h3>В этом отделении пока что нет ни одного курса</h3>
}
