<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalSertificates.Web</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/main-content.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker-master/src/css/bootstrap-datetimepicker.min.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
@inject ISignInManager<ApplicationUser> SignInManager
@inject IUserManager<ApplicationUser> UserManager


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    @await Html.PartialAsync("Modal/FormsModal.cshtml")
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="main-content">
            <div class="main-content__tree" id="tree">
            </div>
            <div class="main-content__body" id="main-content">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div style="width:100%; height:90vh;">
            @RenderBody()
        </div>
    }


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/moment-with-locales.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/medicalCertificates.js"></script>
        <link href="~/lib/fancytree-2.30.2/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
        <script src="~/lib/fancytree-2.30.2/dist/jquery.fancytree-all-deps.min.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/bootstrap-datetimepicker-master/src/js/bootstrap-datetimepicker.js"></script>

        <script type="text/javascript">

            $(function () {

                $("#tree").fancytree({
                    extensions: ["edit", "filter"],
                    source: {
                        url: "/Tree/GetManagementHierarchy",
                        cache: false
                    },
                    expanded: true,
                    clickFolderMode: 1,
                    click: function (event, data) {
                        var node = data.node;
                        if (node.isActive()) {
                            node.setFocus(false);
                            node.setActive(false);
                            event.preventDefault();
                        }

                    },
                    activate: function (event, data) {
                        var tree = $('#tree').fancytree('getTree');
                        activeNode = tree.getActiveNode();
                        var type = activeNode.type;
                        var role = activeNode.data.userRole;
                        var modelId = activeNode.data.modelId;

                        switch (type) {
                            case 'department':
                                if (role === 'admin') {
                                    EnableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                else {
                                    DisableCreateBtn();
                                    DisableEditBtn();
                                    DisableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                break;
                            case 'course':
                                if (role === 'admin') {
                                    EnableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                else {
                                    DisableCreateBtn();
                                    DisableEditBtn();
                                    DisableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                break;
                            case 'group':
                                if (role === 'admin') {
                                    EnableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                else {
                                    EnableCreateBtn();
                                    DisableEditBtn();
                                    DisableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                break;
                            case 'student':
                                if (role === 'admin') {
                                    EnableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    EnableMoveBtn();
                                }
                                else {
                                    EnableCreateBtn();
                                    EnableEditBtn();
                                    DisableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                break;
                            case 'certificate':
                                if (role === 'admin') {
                                    DisableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                else {
                                    DisableCreateBtn();
                                    EnableEditBtn();
                                    EnableDeleteBtn();
                                    DisableMoveBtn();
                                }
                                break;
                        }
                    },
                    dblclick: function (event, data) {
                        // A node was activated: display its title:
                        var node = data.node;
                        var type = node.type;
                        var role = node.data.userRole;
                        var modelId = node.data.modelId;
                        console.log(type);
                        console.log(modelId);

                        switch (type) {
                            case 'department':
                                if (role === 'admin') {
                                    GetDetailsDepartmentRequest(modelId);
                                }
                                break;
                            case 'course':
                                if (role === 'admin') {
                                    GetDetailsCourseRequest(modelId);
                                }
                                break;
                            case 'group':
                                GetDetailsGroupRequest(modelId);
                                break;
                            case 'student':
                                GetDetailsStudentRequest(modelId);
                                break;
                            case 'certificate':
                                GetDetailsMedicalCertificateRequest(modelId);
                                break;
                        }

                    }
                });
                // Note: Loading and initialization may be asynchronous, so the nodes may not be accessible yet.
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <style>
        ul.fancytree-container {
            border: none;
        }

        ul:focus {
            outline: none;
        }
    </style>
    @RenderSection("Scripts", required: false)

</body>
</html>
