@using Microsoft.AspNetCore.Identity
@using MedicalCertificates.Web.Models

@inject ISignInManager<ApplicationUser> SignInManager
@inject IUserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var pseudonim = user.Pseudonim;
    <ul class="nav navbar-nav">
        <li>
            @if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                <button id="createBtn" onclick="ExecCreateAction();" class="btn btn-link navbar-btn navbar-link" >Создать</button>

            }
            else
            {
                <button id="createBtn" onclick="ExecCreateAction();" class="btn btn-link navbar-btn navbar-link" disabled>Создать</button>

            }
        </li>
        <li>
            <button id="editBtn" onclick="ExecEditAction()" class="btn btn-link navbar-btn navbar-link" disabled>Изменить</button>
        </li>
        <li>
            <button id="deleteBtn" onclick="ExecDeleteAction()" class="btn btn-link navbar-btn navbar-link" disabled>Удалить</button>
        </li>
        <li>
            <button onclick="ExecUpdateActionAction()" class="btn btn-link navbar-btn navbar-link">Обновить</button>
        </li>
        <li>
            <button onclick="print()" class="btn btn-link navbar-btn navbar-link">PDF</button>
        </li>
        <li class="dropdown">
                <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Отчеты
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="width:100%;" class="cursor-pointer" onclick="GetConfigureGroupReportRequest()">Отчет по группам</a></li>
                    @if (await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <li><a style="width:100%;" class="cursor-pointer" onclick="GetConfigureDepartmentReportRequest()">Отчет по отделениям</a></li>
                        <li><a style="width:100%;" class="cursor-pointer" onclick="GetConfigureCourseReportRequest()">Отчет по курсам</a></li>
                    }
                </ul>
            </li>

    </ul>


    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
        <li>
            <a onclick="GetEditPasswordRequest();" class="cursor-pointer" >@pseudonim</a>
        </li>
        @if (await UserManager.IsInRoleAsync(user, "Admin"))
        {
            <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Панель администратора
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a style="width:100%;" href="#" onclick="GetIndexUsersRequest()">Управление пользователями</a></li>
                    <li><a style="width:100%;" href="#" onclick="GetIndexPhysicalEducationRequest()">Управление группами по физкультуре</a></li>
                    <li><a style="width:100%;" href="#" onclick="GetIndexHealthGroupRequest()">Управление группами здоровья</a></li>
                </ul>
            </li>
        }


        <li>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </form>
        </li>
    </ul>

}

