@using Microsoft.AspNetCore.Identity
@using MedicalCertificates.Web.Models

@inject ISignInManager<ApplicationUser> SignInManager
@inject IUserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var pseudonim = user.Pseudonim;
    <ul class="nav navbar-nav">
        <li>
            @if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                <button id="createBtn" onclick="ExecCreateAction();" class="btn btn-link navbar-btn navbar-link" >Создать</button>

            }
            else
            {
                <button id="createBtn" onclick="ExecCreateAction();" class="btn btn-link navbar-btn navbar-link" disabled>Создать</button>

            }
        </li>
        <li>
            <button id="editBtn" onclick="ExecEditAction()" class="btn btn-link navbar-btn navbar-link" disabled>Изменить</button>
        </li>
        <li>
            <button id="deleteBtn" onclick="ExecDeleteAction()" class="btn btn-link navbar-btn navbar-link" disabled>Удалить</button>
        </li>
        <li>
            <button onclick="ExecUpdateActionAction()" class="btn btn-link navbar-btn navbar-link">Обновить</button>
        </li>

    </ul>


    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@pseudonim</a>
        </li>
        @if (await UserManager.IsInRoleAsync(user, "Admin"))
        {
            <li class="dropdown">
                <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Панель администратора
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><button style="width:100%;" class="btn btn-default" onclick="GetCreateAccountRequest()">Зарегистрировать пользователя</button></li>
                    @*<li><button style="width:100%;" class="btn btn-default">Управление пользователями</button></li>*@
                    <li><button style="width:100%;" class="btn btn-default" onclick="GetIndexPhysicalEducationRequest()">Управление группами по физкультуре</button></li>
                    <li><button style="width:100%;" class="btn btn-default" onclick="GetIndexHealthGroupRequest()">Управление группами здоровья</button></li>
                    <li><button style="width:100%;" class="btn btn-default" onclick="GetIndexHospitalRequest()">Управление информацией о поликлиниках</button></li>

                </ul>
            </li>
        }


        <li>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </form>
        </li>
    </ul>

}

