
::-webkit-scrollbar {
    display: none;
}

.main-content {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-rows: 100%;
    overflow: hidden;
    height: calc(100vh - 70px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}


.main-content__tree {
    grid-column: 1;
    min-width: 300px;
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.main-content__body {
    display: inline-block;
    border-left: 2px black solid;
    grid-column: 2;
    padding-left: 20px;
    overflow-y: scroll;
}