@model MedicalCertificates.Web.Models.MedicalCertificatesViewModels.CreateMedicalCertificateViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">Создание новой справки</h3>
        </div>
        <div class="modal-body">
            <form asp-action="Create" id="createMedicalCertificateForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input asp-for="StartDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="StartDate" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="IsUsingTerm" class="control-label">Использовать конечную дату?</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="IsUsingTermNo" asp-for="IsUsingTerm" type="radio" value="false" />
                        <label class="form-check-label" for="IsUsingTermNo">Да</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="IsUsingTermYes" asp-for="IsUsingTerm" type="radio" value="true" />
                        <label class="form-check-label" for="IsUsingTermYes">Нет</label>
                    </div>

                </div>
                <div class="form-group" id="finishDateBlock">
                    <label asp-for="FinishDate" class="control-label"></label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="finishDateInput" asp-for="FinishDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="FinishDate" class="text-danger"></span>

                </div>
                <div class="form-group" id="certificateTermBlock" hidden>
                    <label class="control-label">Срок действия справки</label>
                    @{ 
                        var listTerms = new SelectList(new List<MedicalCertificates.Web.Models.MedicalCertificatesViewModels.CertificateTerm>(), "Months", "Text");
                        if (Model.Terms != null)
                        {
                            listTerms = new SelectList(Model.Terms, "Months", "Text");
                        }
                    }
                    <select id="certificateTermInput" asp-for="CertificateTerm" class="form-control" asp-items=@listTerms>
                        <option value="0">Выберите срок действия</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="HealthGroupId" class="control-label"></label>
                    @{
                        var listHealthgroups = new SelectList(new List<HealthGroup>(), "Id", "Name");
                        if (Model.HealthGroups != null)
                        {
                            listHealthgroups = new SelectList(Model.HealthGroups, "Id", "Name");
                        }
                    }
                    <select asp-for="HealthGroupId" class="form-control" asp-items=@listHealthgroups>
                        <option>Выберите группу здоровья</option>
                    </select>
                    <span asp-validation-for="HealthGroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhysicalEducationId" class="control-label"></label>
                    @{
                        var listPE = new SelectList(new List<PhysicalEducation>(), "Id", "Name");
                        if (Model.PhysicalEducations != null)
                        {
                            listPE = new SelectList(Model.PhysicalEducations, "Id", "Name");
                        }
                    }
                    <select asp-for="PhysicalEducationId" class="form-control" asp-items=@listPE>
                        <option>Выберите группу по физкультуре</option>
                    </select>
                    <span asp-validation-for="PhysicalEducationId" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                <div class="btn-group" role="group">
                    <button onclick="SendCreateMedicalCertificateRequest();" class="btn btn-success">Создать</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
