@model MedicalCertificates.Web.Models.HealthGroupViewModels.DetailsHealthGroupViewModel

<h2>Описание группы здоровья</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название группы здоровья</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.Id)</th>
                <th>@Html.DisplayFor(model => model.Name)</th>
            </tr>
        </tbody>
    </table>
    <hr />
</div>
<p>
    <button onclick="GetIndexHealthGroupRequest()" class="btn btn-info">Вернуться к списку групп здоровья</button>
</p>
@if (Model.MedicalCertificates.Count != 0)
{
    <h4>Справки с этой группой здоровья</h4>
    <!--Table-->
    @await Html.PartialAsync("MedicalCertificatesTable", Model.MedicalCertificates);

}




