@model MedicalCertificates.Web.Models.PhysicalEducationViewModels.DetailsPhysicalEducationViewModel


<h2>Описание группы по физкультуре</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Название группы по физкультуре</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.Name)</th>
            </tr>
        </tbody>
    </table>
    <hr />
</div>
<p>
    <button onclick="GetIndexPhysicalEducationRequest()" class="btn btn-info">Вернуться к списку групп по физкультуре</button>
</p>
@if (Model.MedicalCertificates.Count != 0)
{
    <h4>Справки с данной группой по физкультуре</h4>
    @await Html.PartialAsync("MedicalCertificatesTable", Model.MedicalCertificates);

}


