@model MedicalCertificates.Web.Models.PhysicalEducationViewModels.EditPhysicaleducationViewModel

<h4>EditPhysicaleducationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editPhysicalEducationForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
        <button onclick="SendEditPhysicalEducationRequest()" class="btn btn-default">Изменить</button>

    </div>
</div>

<div>
    <a onclick="GetIndexPhysicalEducationRequest()">Вернуться к списку</a>
</div>

