@model MedicalCertificates.Web.Models.HospitalViewModels.DeleteHospitalViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteHospitalViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-group" hidden>
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
        </div>
    </form>
    <a onclick="GetIndexPhysicalEducationRequest()">Back to List</a>
    <button onclick="SendDeleteHospitalRequest()" class="btn btn-success">Да</button> | <button onclick="GetIndexHospitalRequest()" class="btn btn-warning">Нет</button>
</div>
