@model MedicalCertificates.Web.Models.HospitalViewModels.DetailsHospitalViewModel

<h2>Описание поликлиники</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя поликлиники</th>
                <th>Номер телефона поликлиники</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.Id)</th>
                <th>@Html.DisplayFor(model => model.Name)</th>
                <th>@Html.DisplayFor(model => model.TelephoneNumber)</th>

            </tr>
        </tbody>
    </table>
    <hr />
</div>
<p>
    <button onclick="GetIndexHospitalRequest()" class="btn btn-info">Вернуться к списку поликлиник</button>
</p>
@if (Model.MedicalCertificates.Count != 0)
{
    <h4>Справки выданные этой поликлиникой</h4>
    <!--Table-->
    @await Html.PartialAsync("MedicalCertificatesTable", Model.MedicalCertificates);

}


